<h1 id='title'>Session</h1>
<div class='game-wrapper'>
  <div id='game'></div>
  <div id='chat'>
    <div id='chatArea'></div>
    <form id='inputArea'>
      <input type='text' placeholder='type here' />
      <button type='submit'>Send</button>
    </form>
  </div>
</div>
<div>Your color - <span id='color'></span></div>
<div>Score:
  <ul>
    <li><span>Red: </span><span id='score_0'>1</span></li>
    <li><span>Green: </span><span id='score_1'>1</span></li>
    <li><span>Yellow: </span><span id='score_2'>1</span></li>
    <li><span>Pop: </span><span id='score_3'>1</span></li>
  </ul>
</div>
<script defer src='/js/game.js'></script>
