<h1 id='title'>Session</h1>
<div class='game-wrapper'>
  <div id='game'></div>
  <div id='chat'>
    <div id='chatArea'></div>
    <form id='inputArea'>
      <input type='text' placeholder='type here' />
      <button type='submit'>Send</button>
    </form>
  </div>
</div>
<div>Your color - <span id='color'></span></div>
<script defer src='/js/game.js'></script>
