<div class='wrapper'>
  <div class='intro'>
    <h2>FILTY RACE</h2>
    <p>Вам предстоит победить в гонке между 4мя игроками.</p>
    <p>Дано поле 12x12, каждому игроку привязывается один из 4х цветов.</p>
    <p>Вы можете передвигаться по пустым или своим ячейкам.</p>
    <p>Переходить на ячейки чужого цвета нельзя.</p>
    <p>Победителем становится тот, кто заполнил 41 ячейку.</p>
    <p>Передвигаться можно с помощью стрелочек на клавиатуре.</p>
    <a href='/game'>Присоединиться</a>
  </div>
  <div class='ps'>
    <p>
      5 августа 2011 года на ютубе вышло довольно странное видео «Filthy Shit»,
      в котором молодой человек в очках и с искажённым голосом рассказывал о
      приступе неконтролируемой диареи. Видео, выложенное на спор для друга, со
      временем породило целый культурный феномен в виде Шоу Филти Фрэнка —
      самого безумного, хаотичного и непредсказуемого шоу в истории современного
      интернета.
    </p>
  </div>
</div>
