@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
.bg-wrapper {
  max-width: 800px;
  margin: 15px auto;
}
.wrapper {
  box-shadow: 0 0 5px #d6d6d6;
  border-radius: 15px;
  padding: 5px 25px;
}
#title {
  margin-bottom: 0;
  font-size: 12px;
  text-align: right;
}
.game-wrapper {
  display: flex;
}
#game {
  width: 480px;
  height: 480px;
  margin: 25px auto 0;
  border-radius: 10px;
  position: relative;
}
#game .end {
  top: 0;
  left: 0;
  position: absolute;
  background: #f5f5f5e6;
  width: 100%;
  height: 100%;
}
#game .end p {
  text-align: center;
  width: 200px;
  height: 150px;
  font-size: 30px;
  margin: 150px auto;
}
#game .place {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  box-shadow: 0 0 0px 1px #173a1852;
  border-radius: 5px;
  margin: 0px;
  background-color: #e8e8e8;
}
#game .place img {
  width: 40px;
  height: 40px;
}
#chat {
  width: 280px;
  margin: 25px auto 0;
}
#chatArea {
  width: 100%;
  background: whitesmoke;
  height: 400px;
  overflow: scroll;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px 0px;
}
#chatArea p {
  font-size: 14px;
  color: gray;
  font-size: 12px;
  color: gray;
  background-color: #eaeaea;
  border-radius: 15px;
  margin: 0px 15px 10px;
  padding: 5px 10px;
}
#chatArea img {
  max-width: 100%;
  border-radius: 15px;
  margin: 10px 0;
}
#inputArea input {
  width: 220px;
  height: 34px;
  border: none;
  background-color: whitesmoke;
  box-shadow: 0 0 2px #b7b7b7;
  border-radius: 15px 5px 5px 15px;
  padding: 0 15px;
}
#inputArea button {
  border: none;
  background-color: whitesmoke;
  box-shadow: 0 0 2px #b7b7b7;
  border-radius: 5px 15px 15px 5px;
  height: 34px;
  width: 56px;
  cursor: pointer;
  font-size: 13px;
}
#inputArea button:hover {
  background-color: #72bb72;
}
#inputArea input:focus-visible {
  outline: none;
}
.intro h2 {
  text-align: center;
}
.intro a {
  color: white;
  text-decoration: none;
  background-color: #2a6f2a;
  text-align: center;
  width: 200px;
  font-size: 24px;
  display: block;
  margin: 25px auto 15px;
  padding: 10px;
  border-radius: 10px;
}
#score ul li {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}
#score ul li:nth-child(1) {
  background-color: rgb(233, 30, 99);
  color: white;
}
#score ul li:nth-child(2) {
  background-color: rgb(76, 175, 80);
}
#score ul li:nth-child(3) {
  background-color: rgb(255, 193, 7);
}
#score ul li:nth-child(4) {
  background-color: rgb(50, 30, 34);
  color: white;
}
#score ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
#score p {
  text-align: center;
  font-size: 24px;
  margin: 5px 0;
}
.color-wr {
  text-align: center;
  font-size: 18px;
}
